.input {
  &-container {
    label {
        font-size: 0.6em;
        text-transform: uppercase;
        letter-spacing: 0.3px;
        pointer-events: none;
    }
    input {
      padding: 6px 0;
      display: block;
      width: 100%;
      font-size: 1em;
      outline: none;
      border: none;
      border-bottom: 2px solid rgba(0, 0, 0, 0.056);
      background: transparent;
      &:focus {
        border-bottom: 2px solid transparent;
      }
      &:focus + label {
        color: $primary_color;
        @include mixin(transition, 300ms);
      }
      &:focus ~ .input-line:before,
      &:focus ~ .input-line:after {
        width: 50%;
      }
    }
  }
  &-line {
    position: relative;
    display: block;
    width: 100%;
    &:before,
    &:after {
      content: '';
      height: 2px;
      width: 0;
      bottom: 0;
      position: absolute;
      background: $primary_color;
      transition: 0.2s ease all;
    }
    &:before {
      left: 50%;
    }
    &:after {
      right: 50%;
    }
  }
}

.checkbox {
  &-container {
    label {
      font-size: 0.6em;
      text-transform: uppercase;
      letter-spacing: 0.3px;
      pointer-events: none;
      display: inline-block;
      margin-left: $basis_proportio;
      color: $primary;
    }
  }
  &-box {
    display: inline-block;
    width: $aurea_proportio;
    height: $aurea_proportio;
    border: 2px solid $primary;
    margin-left: -20px;
    vertical-align: middle;
  }
}

input[type='checkbox'] {
  opacity: 0;
  cursor: pointer;
  vertical-align: middle;
  &:checked + span {
    background: $primary;
    border-color: $primary;
    vertical-align: middle;
  }
}
