$fab_diameter: $aurea_proportio*3;

button,
a {

  &.iconico,
  &.fab,
  &.btn {
    background: transparent;
    border: 0;
    cursor: pointer;
    outline: 0;
    svg {
      vertical-align: middle;
    }
  }

  &.btn {
    min-width: $basis_proportio*11;
    line-height: $aurea_proportio*2;
    font-size: 0.8em;
    text-transform: uppercase;
    letter-spacing: 0.8px;
  }

  &.iconico {
    width: $aurea_proportio*3;
    height: $aurea_proportio*3;
    &:hover {
      svg {
        @include mixin(transform, scale(1.1));
        transition: 100ms;
      }
    }
  }

  &.fab {
    width: $fab_diameter;
    height: $fab_diameter;
    border-radius: 50%;
    box-shadow: $shadow2;
    transition: 300ms;

    &:hover {
      box-shadow: $shadow5;
      transition: 300ms;
    }

    &.bottom.right {
      position: absolute;
      bottom: $aurea_proportio;
      right: $aurea_proportio;
      z-index: 10;
      background: white;
    }
  }
  &.active {
    color: $red;
  }
}

a {
  &.fab {
    line-height: $fab_diameter;
    text-align: center;
  }
  &.iconico {
    line-height: 48px;
    text-align: center;
  }
}
