.dropdown {
  position: absolute;
  box-shadow: $shadow2;
  background: white;
  padding: 0;
  z-index: 100;
  margin: 0;
  top: $basis_proportio;
  &.right {
    right: $basis_proportio;
  }
  .menu-item {
    display: inline-block;
    width: 100%;
    line-height: $aurea_proportio*2;
    background: transparent;
    border: 0;
    text-align: left;
    padding-left: $aurea_proportio;
    text-transform: uppercase;
  }
}
