.editor {
  @include flex-display();
  @include flex(1);
  overflow: hidden;
  div[contenteditable='true'] {
    @include flex(1);
    overflow: auto;
    letter-spacing: 0.8px;
    padding: $aurea_proportio;

    -webkit-user-select: none; /* disable selection/Copy of UIWebView */
    user-select: none;
      -webkit-touch-callout: none;

    font-family: Roboto, Lato, sans-serif;
    font-size: 1em;
    line-height: 1.5em;
    font-weight: 300;
    @include media(desktop) {
      padding: $aurea_proportio $aurea_proportio*4;
    }
    &:focus  {
      outline: none;
      background: #f9f9f9;
    }
  }
}
