main {
  @include flex(3);
  @include flex-display();
  @include flex-direction(column);
  &:not(.sidebar) {
    background: white;
  }
  &.sidebar {
    background: $primary;
  }
  overflow: hidden;
  @include media(tablet) {
    @include flex(2);
  }
  @include media(mobile) {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index:100;
  }
}
