.list {
  @include flex(1);
  width: 100%;
  overflow: auto;
  padding: 0;
  margin: 0;

  li {
    @include flex-display();
    width: 100%;
    margin-bottom: $basis_proportio;

    &:first-child {
      margin-top: $basis_proportio;
    }

    a.list-inner {
      display: inline-block;
      width: 100%;
      color: $white;
      padding: $aurea_proportio $basis_proportio;
      @include flex-display();

      svg {
        width: $aurea_proportio;
        height: $aurea_proportio;
      }

      .content {
        @include flex(1);
        max-height: $aurea_proportio*3+$basis_proportio;
        overflow: hidden;
        margin: 0 $basis_proportio;
        &:first-line {
          font-weight: 600;
        }
      }

      footer {
        time {
          color: $white;
          white-space: nowrap;
          font-size: 0.7em;
          font-weight: 600;
        }
      }
      &:hover {
        background: rgba(0, 0, 0, 0.056);
      }
    }

    }

}
