/* Example */

.example-appear {
  opacity: 0.01;
}

.example-appear.example-appear-active {
  opacity: 1;
  transition: opacity .5s ease-in;
}

.example-enter {
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

/* Disuelve */

.disolve-enter {
    opacity: 0.01;
}

.disolve-enter.disolve-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
}

.disolve-leave {
    opacity: 1;
}

.disolve-leave.disolve-leave-active {
    opacity: 0.01;
    transition: opacity 300ms ease-in;
}

/* Revela */

.reveal-appear {
  //  transform-origin: top right;
}

.reveal-appear.reveal-appear-active {
  @include animation(aumento 100ms);
  //  transform-origin: top right;
}

.reveal-enter {
    @include animation(aumento 400ms);
    // transform-origin: top right;
}

.reveal-enter.reveal-enter-active {
    @include animation(aumento 400ms);
  //  transform-origin: top right;
}

.reveal-leave {
    @include animation(decremento 400ms);
}

.reveal-leave.reveal-leave-active {
    @include animation(decremento 400ms);
}

/* Aparicion */

.voila-appear {
    @include animation(slideUp 200ms);
}

.voila-appear.voila-appear-active {
    @include animation(slideUp 200ms);
}

.voila-leave {
    @include animation(slideDown 200ms);
}

.voila-leave.voila-leave-active {
   @include animation(slideDown 200ms);
}

@include keyframes(aumento) {
    from {
        -webkit-transform: scale(0.01);
        transform: scale(0.01);
    }
    to {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@include keyframes(decremento) {
    from {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    to {
        -webkit-transform: scale(0.01);
        transform: scale(0.01);
    }
}

@include keyframes(slideUp) {
    from {
        -webkit-transform: translate3d(0, 20%, 0);
        transform: translate3d(0, 20%, 0);
        top:20%;
    }
    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        top:0;
    }
}

@include keyframes(slideDown) {
    from {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        top: 0;
    }
    to {
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
        top: 100%;
    }
}
