$cyan: #0097A7;
$red: #F44336;
$yellow: gold;
$beige: #e9ddaf;
$white: #FFFFFF;

$light_grey: #f9f9f9;

$dark_blue: #607D8B;

$primary: $cyan;
$primary_color: $cyan;
$base_color: #ffffff;
$text_color: rgba(0, 0, 0, 0.56);
