$mobile_start: 36.25em;
$mobile_end: 47.99em;
$tablet_start: $mobile_end + 0.01em;
$tablet_end: 59.99em;
$desktop_start: $tablet_end + 0.01em;
$wide_start: 75em;

$breakpoints: (
  small : (max-width: 20em),
  mobile : (min-width: $mobile_start) and (max-width: $mobile_end),
  portrait : (min-width: $mobile_start) and (max-width: $mobile_end) and (orientation: portrait),
  tablet : (min-width: $tablet_start) and (max-width: $tablet_end),
  desktop : (min-width: $desktop_start)
);

@mixin media($breakpoint) {

  @if map-has-key($breakpoints, $breakpoint) {
    $value: map-get($breakpoints, $breakpoint);
    @media #{$value} {
      @content;
    }
  } @else {
    @warn 'Invalid breakpoint: #{$breakpoint}.';
  }
}
