/* MIXINS
*********************/

@mixin display-grid {
  display: -ms-grid;
  display: grid;
}

@mixin prefix($property, $value, $prefixes) {
  @each $prefix in $prefixes {
    #{$prefix}-#{$property}: $value;
  }

  #{$property}: $value;
}

@mixin prefixProp($property, $value, $prefixes) {
  @each $prefix in $prefixes {
    #{$property}: #{$prefix}-#{$value};
  }

  #{$property}: $value;
}

@mixin animation($animation...) {
  -moz-animation: $animation;
  -webkit-animation: $animation;
  animation: $animation;
}

@mixin keyframes($name) {
  @-o-keyframes #{$name} {
    @content;
  }

  @-moz-keyframes #{$name} {
    @content;
  }

  @-webkit-keyframes #{$name} {
    @content;
  }

  @-keyframes #{$name} {
    @content;
  }
}

@mixin filter($valor,$prefijos: -moz -webkit) {
  @if $valor == 'none' {
    filter: none;
  } @else {
    @include prefix(filter,$valor,$prefijos);
  }
}

@mixin mixin($prop,$valor,$prefijos: -moz -webkit) {
  @include prefix($prop,$valor,$prefijos);
}

@mixin mixinProp($prop,$valor,$prefijos: -moz -webkit) {
  @include prefixProp($prop,$valor,$prefijos);
}

// LAYOUT

@mixin flex-display() {
  @include mixinProp(display,flex);
}

@mixin flex($valor) {
  @include mixin(flex,$valor);
}

@mixin flex-direction($direccion) {
  @include mixin(flex-direction,$direccion);
}

@mixin align-items($value: stretch) {
  @if $value == flex-start {
    -webkit-box-align: start;
    -ms-flex-align: start;
  } @else if $value == flex-end {
    -webkit-box-align: end;
    -ms-flex-align: end;
  } @else {
    -webkit-box-align: $value;
    -ms-flex-align: $value;
  }
  -webkit-align-items: $value;
  -moz-align-items: $value;
  align-items: $value;
}

@mixin align-self($value: auto) {
  // No Webkit Box Fallback.
  -webkit-align-self: $value;
  -moz-align-self: $value;
  @if $value == flex-start {
    -ms-flex-item-align: start;
  } @else if $value == flex-end {
    -ms-flex-item-align: end;
  } @else {
    -ms-flex-item-align: $value;
  }
  align-self: $value;
}

@mixin align-content($align) {
  -webkit-align-content: $align;
     -moz-align-content: $align;
      -ms-align-content: $align;
          align-content: $align;
}

@mixin justify-content($value: flex-start) {
	@if $value == flex-start {
		-webkit-box-pack: start;
		-ms-flex-pack: start;
	} @else if $value == flex-end {
		-webkit-box-pack: end;
		-ms-flex-pack: end;
	} @else if $value == space-between {
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
	} @else if $value == space-around {
		-ms-flex-pack: distribute;
	} @else {
		-webkit-box-pack: $value;
		-ms-flex-pack: $value;
	}
	-webkit-justify-content: $value;
	-moz-justify-content: $value;
	justify-content: $value;
}

@mixin calc($dimension, $expresion) {
  #{$dimension}: -moz-calc(#{$expresion});
  #{$dimension}: -webkit-calc(#{$expresion});
  #{$dimension}: calc(#{$expresion});
}

// =============================================================================
// String Replace
// =============================================================================

@function str-replace($string, $search, $replace: "") {
	$index: str-index($string, $search);

	@if $index {
		@return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
	}

	@return $string;
}

// =============================================================================
// Font Face
// =============================================================================

@mixin font-face($name, $path, $weight: null, $style: null, $exts: eot woff2 woff ttf svg) {
	$src: null;

	$extmods: (
		eot: "?",
		svg: "#" + str-replace($name, " ", "_")
	);

	$formats: (
		otf: "opentype",
		ttf: "truetype"
	);

	@each $ext in $exts {
		$extmod: if(map-has-key($extmods, $ext), $ext + map-get($extmods, $ext), $ext);
		$format: if(map-has-key($formats, $ext), map-get($formats, $ext), $ext);
		$src: append($src, url(quote($path + "." + $extmod)) format(quote($format)), comma);
	}

	@font-face {
		font-family: quote($name);
		font-style: $style;
		font-weight: $weight;
		src: $src;
	}
}
