body {
    padding: 0;
    margin: 0;
    overflow: hidden;
}

html,
body,
#app-root,
.page {
    height: 100%;
    width: 100%;
}

#app-root {
  background: #f9f9f9;
}

.page {
  @include flex-display();
  -webkit-overflow-scrolling: touch
}

body {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}

img {
  box-sizing: content-box;
}

ul {
  padding: 0;
  li {
    list-style: none;
  }
}

a {
  text-decoration: none;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}
::-webkit-scrollbar-thumb {
    background: #FF0000;
}
