$toolbar_height: $basis_proportio*7;

header {
  @include flex-display();
  height: $toolbar_height;
  &.toolbar  {
    width: 100%;
    button {
      background: transparent;
      border: 0;
      text-transform: uppercase;
      color: inherit;
    }
    button,
    a {
      &.iconico {
        margin-top: $basis_proportio/2;
        svg {
          path {
            fill: $primary;
          }
        }
      }
    }
    span {
      &:not(.time) {
          order: 2;
      }
      &.time {
        @include flex(1);
      }
    }
    .button-bar {
        order: 2;
    }
    h1 {
      @include flex(1);
      margin: 0;
      font-size: $typo_title_size;
      font-family: $typo_title;
      line-height: $toolbar_height;
      color: $primary;
      padding-left: $basis_proportio;
    }
    .time {
      margin-top: $basis_proportio+$basis_proportio/2;
    }
    &.primary {
      h1 {
        color: $white;
      }
      .iconico {
        svg {
          path {
            fill: $white;
          }
        }
      }
    }
  }
  &[role="header"] {
    transition: 400ms;
    &.is-scrolling {
      position: relative;
      box-shadow: $shadow4;
      transition: 400ms;
    }
  }

}
