.sidebar {
  max-width: 320px;
  position: relative;
  @include media(mobile) {
    max-width: 100%;
  }
}

aside.sidebar {
  @include flex-display();
  @include align-items(center);
  @include justify-content(center);
  @include flex-direction(column);
  background: snow;
  flex: 1;
  z-index: 1;
  box-shadow: $shadow3;
  height: 100%;
  figure {
    text-align: center;
    figcaption {
      color: $text_color;
      padding-top: $aurea_proportio;
      h1 {
        text-transform: uppercase;
        font-size: 1.2em;
      }
    }
    img {
      &.avatar {
        border-radius: 50%;
        border: solid 3px #fff;
        @include mixin(filter, sepia(38%) saturate(140%));
      }
    }
  }
  &.right {
    position: absolute;
    max-width: 280px;
    right: 0;
    z-index: 2;
  }
}
