.skills-list {
  text-align: left;
  color: $text_color;
  h3 {
    font-size: 0.8em;
  }
  li {
    display: inline-block;
    width: 100%;
    padding: $basis_proportio;
    margin-left: $basis_proportio;
    text-transform: uppercase;
    font-size: 0.8em;
    letter-spacing: 2.3px;
    cursor: default;
  }
}
