.time {
  // padding: $aurea_proportio - $basis_proportio/2 0;
  time {
    color: $cyan;
    font-weight: $bold;
    font-size: small;
    text-transform: uppercase;
    letter-spacing: 0.7px;
  }
  figure {
    margin: 0;
    &.time {
      &-thumb {
        width: $aurea_proportio*2;
        height: $aurea_proportio*2;
        margin: 0 $aurea_proportio 0 0;
        border-radius: 50%;
      }
      &-image {
        width: 300px;
        height: 300px;
      }
    }
    background-size: 100%;
    display: inline-block;
    vertical-align: middle;
  }
  &-content {
    @include flex-display();
    @include flex-direction(column);
  }
}
