nav[role="navigation"] {
  @include flex-display();
  width: 100%;
  a {
    color: $primary;
    text-transform: uppercase;
    font-weight: $bold;
    font-size: 0.8em;
    text-align: center;
    @include flex(1);
    &:hover {
      opacity: 0.8;
    }
  }
}

.toolbar {
  &-nav {
    a {
      padding: 0;
      margin: 0;
      line-height: $basis_proportio*7;
    }
  }
}
