.avatar {
  width: 96px;
  height: 96px;
  border-radius: 50%;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  img {
    max-width: 100%;
  }
}

.quote {
  &-container {
    overflow-y: auto;
    @include flex(1);
  }
  &-content {
    letter-spacing: 0.8px;
    padding: $aurea_proportio;
    font-family: Roboto, Lato, sans-serif;
    font-size: 1.2em;
    font-weight: 100;
    ul {
      display: none;
    }
  }
  .input-container {
    margin: 0px auto;
    max-width: 420px;
    padding: $aurea_proportio;
  }
  figure {
    margin: 0px auto;
  }
}
