dialog {
  &.dialog {
   top: 0;
   bottom: 0;
   border: 0;
   min-width: 320px;
   min-height: 200px;
   border-radius: 7px;
   box-shadow: $shadow1;
   z-index: 101;
  }
  &::backdrop {
  background: rgba(0, 0, 0, 0.056);
}
& + .backdrop {
  background: rgba(0, 0, 0, 0.056);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 100;
}

section {
  @include flex-display();
  @include flex-direction(column);
  @include align-content(space-between);
  height: 100%;
  h3 {
    margin: 0;
  }
  div,
  p {
    margin: 0;
    &.input-container,
    &.dialog-content {
      @include flex(1);
    }
    &.dialog-content {
      overflow: auto;
    }
  }
  footer {
      text-align: right;
  }
}
}
