.ripple {
  position: absolute;
  background: rgba(0, 0, 0, 0.056);
  border-radius: 50%;
  width: 5px;
  height: 5px;
  animation: rippleEffect .9s 1;
  opacity: 0;
}

@keyframes rippleEffect {
  0% {
    transform: scale(1);
    opacity: 0.4;
  }
  100% {
    transform: scale(100);
    opacity: 0;
  }
}
