.button {
  &-bar {
    @include flex-display();
    .menu-item {
      background: transparent;
      border: 0;
      text-transform: uppercase;
      cursor: pointer;
    }
    button.iconico {
      margin-top: $basis_proportio/2;
    }
  }
}
